# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\C++\Leetcode-Top\62_UniquePaths\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
